body {
  background-color: #f7f7f7;
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
}

header {
  text-align: center;
  font-size: 22px;
  color: rgba(19, 35, 47, 0.9);
  text-transform: uppercase;
}

h1 {
  font-weight: normal;
  margin: 20px 0px 30px 0px;
}

.container {
  text-align: center;
}

.table-container {
  width: 50%;
  display: inline-block;
}

table {
  border-collapse: collapse;
  width: 100%;
  color: rgba(19, 35, 47, 0.9);
  background-color: #f7f7f7;
}

table th {
  text-transform: uppercase;
  color: #ffffff;
  background-color: #1ab188;
  font-size: 16px;
  padding: 10px 10px 10px 20px;
  text-align: left;
  font-weight: normal;
}

table td {
  padding: 10px 10px 10px 20px;
  text-align: left;
  border-bottom: 1px solid rgba(19, 35, 47, 0.9);
}

table td:last-child {
  padding: 10px 20px 10px 10px;
}

.table-section {
  text-transform: uppercase;
  background-color: rgba(19, 35, 47, 0.9);
  color: #ffffff;
  font-weight: normal;
  line-height: 15px;
  border: none;
}

.material-icons {
  color: #1ab188;
  cursor: pointer;
}

.delete-btn {
  background: none;
  border: 0;
  padding: 0;
  outline: none;
}

.form-container {
  display: inline-block;
  width: 30%;
  text-align: right;
  vertical-align: top;
  margin: 0px 0px 0px 130px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

form {
  text-align: center;
  background: rgba(19, 35, 47, 0.9);
  padding: 30px 35px 30px 35px;
  box-shadow: 0 4px 10px 4px rgba(#13232f, .3);
}

.form-label {
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
  margin: 0 0 20px;
}

.radio-btn {
  width: 20px;
  height: 20px;
  background-color: #a0b3b0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 100%;
  border: 2px solid #a0b3b0;
  transition: 0.2s all linear;
  outline: none;
  margin-right: 6px;
  position: relative;
  top: 4px;
}

.radio-btn:checked {
  border: 5px solid #1ab188;
  background-color: white;
}

.radio-item {
  color: #a0b3b0;
  margin-right: 25px;
}

input[type=text], textarea[type=text] {
  font-size: 16px;
  line-height: 24px;
  width: 85%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #a0b3b0;
  font-family: 'Titillium Web', sans-serif;
}

input::placeholder, textarea::placeholder {
  color: #a0b3b0;
  font-size: 16px;
  font-family: 'Titillium Web', sans-serif;
}

input:focus, textarea:focus {
  border: 1px solid #1ab188;
  outline: none;
}

.input-container {
  margin-bottom: 30px;
}

.add-btn {
  width: 92%;
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0px;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  cursor: pointer;
}
